/* Particles */
.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
}

@font-face {
	font-family: DINPro;
	src: url(../font/DINPro-Light.otf);
}
@font-face {
	font-family: DINProBold;
	src: url(../font/DINPro-Bold.otf);
}

@media only screen and (min-width:400px){
    /* styles for browsers larger than 400px;  */
	.item {
		width: 70%;
		height: 40%;
	}
	.item-text {
		font-size: 1.8em;
		line-height: 1.8em;
	}
	.main-text {
		font-size: 2.9vw;
	}
	/*backfix*/
	.openledger-img img {
	    top: -190px;
	}
}
@media only screen and (min-width:480px){
    /* styles for browsers larger than 480px;  */
	.item {
		width: 70%;
		height: 40%;
	}
	.item-text {
		font-size: 1.8em;
		line-height: 1.8em;
	}
	.main-text {
		font-size: 2vw;
	}
	.parallax-img {
		top: -385px;
	}
	.bbw-img {
		margin-top: -134px;
	}
	/*backfix*/
	.openledger-img img {
	    top: -190px;
	}
	.logo1-img img {
    	top: -550px;
	}
	.prestigio-img img {
    	top: -330px;
	}
}
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px;  */
	.item {
		width: 82%;
		height: 50%;
		/*max-width: 1250px;
		max-height: 600px;
		min-width: 800px;
		min-height: 500px;*/
	}
	.item-text {
		font-size: 2.6em;
		line-height: 1.8em;
	}
	.main-text {
		font-size: 3.1vw;
	}
	.parallax-img {
		top: -385px;
	}
	.bbw-img {
		margin-top: -134px;
	}
	/*backfix*/
	.openledger-img img {
	    top: -135px;
	}
	.logo1-img img {
    	top: -500px;
	}
	.prestigio-img img {
    	top: -290px;
	}
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px;  */
	.item {
		width: 80%;
		height: 68%;
		max-width: 1250px;
		max-height: 600px;
		min-width: 1000px;
		min-height: 600px;
	}
	.item-text {
		font-size: 2.9em;
		line-height: 1.9em;
	}
	.main-text {
		font-size: 3.2em;
	}
	.parallax-img {
		top: -340px;
	}
	.bbw-img {
		margin-top: -70px;
	}
	/*backfix*/
	.openledger-img img {
	    top: -80px;
	}
	.logo1-img img {
    	top: -400px;
	}
	.prestigio-img img {
    	top: -220px;
	}
}
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	line-height: 1;
	font-family: DINPro;
	font-size: 1em;
	background: #e5e5e5;
}
a {
	color: #FFF;
	text-decoration: none;
}
/*.p-link {
	display: block;
}*/
.link-overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
h1{
	font-family: DINProBold;
	letter-spacing: 5px;
	line-height: 1.7em;
}
h2{
	font-family: DINPro;
	font-size: 0.6em;
	line-height: 2;
}
header {
	position: fixed;
    top: 20px;
    width: 80%;
    z-index: 998;
	padding: 0 10%;
}
input, textarea {
	font-family: DINProBold;
	text-transform: uppercase;
}
/* Thumbs */
.thumbs {
	position: fixed;
	left: 0;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
	box-sizing: border-box;
}
.thumbs ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.thumbs ul li{
	padding: 0;
	width: 80px;
	height: 54px;
}
.t-border {
	width: 70px;
	height: 42px;
	border: 1px solid;
	border-color: rgba(255,255,255,0.6);
	margin: 0 auto;
	position: relative;
	top: 5px;
}
.t-border-inverse {
	border-color: rgba(0,0,0,0.8);
}
.pp-tooltip {
	font-family: DINProBold;
}
.logo {
    float: left;
}
.logo .l-text {
	font-family: DINProBold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    float: left;
    padding: 4px 0 0 0;
	transition: all 1s;
	opacity: 0.75;
}
.item-thumb-l-white {
	float:left;
	border: 2px solid rgba(255,255,255,1);
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'><line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(255,255,255,1)' stroke-width='16'/><line x1='100%' y1='100%' x2='0' y2='0' stroke='rgba(255,255,255,1)' stroke-width='16'/></svg>");
	opacity: 0.75;
}
.l-inverse .item-thumb-l-white {
	border-color: rgba(0,0,0,1);
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'><line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(0,0,0,1)' stroke-width='16'/><line x1='100%' y1='100%' x2='0' y2='0' stroke='rgba(0,0,0,1)' stroke-width='16'/></svg>");
}
.l-inverse  .l-text {
    color: #000;
}
.l-text-hide  .l-text {
	opacity: 0;
}
.links {
	float: right;
	height: 32px;
	line-height: 28px;
}
.links ul {
	padding: 0;
	margin: 0;
}
.links ul li{
	display: inline;
	list-type: none;
	margin-left: 20px;
	text-transform: uppercase;
	font-family: DINProBold;
    font-size: 14px;
    letter-spacing: 1px;
}
.links ul li a{
	opacity: 0.75;
	color: #FFF;
	transition: all 1s;
}
.i-links ul li a{
	color: #000;
}
.butter {
	opacity: 0.9;
}
.i-links .butter #search1 {
	stroke: #000;
}
.i-links .butter #circle {
	fill: #000;
}
/* Loader */
.loader{
	width: 60px;
	height: 60px;
	margin: 20px;
	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
}
/* Typed */
.typed {
	/*background: white;
    color: #FF3333;
    border-radius: 4px;
    padding: 0 5px 0 10px;*/
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* Animate.css*/
.animated {
	-webkit-animation-duration: 1.8s;
	animation-duration: 1.8s;
}
/* Button */
.m-button {
	position: absolute;
	left: 50%;
	right: auto;
	bottom: 100px;
	margin-left: -120px;
}
.m-button button{
	cursor: pointer;
	font-family: DINPro;
	font-size: 1.8em;
	color: #FFF;
	text-transform: uppercase;
    letter-spacing: 6px;
	background: transparent;
	border: 3px solid rgba(255,255,255,0.9);
	padding: 10px 20px;
}
/* Mouse icon */
.scroll-down {
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 50px;
	width: 46px;
	height: 26px;
	opacity: 0;
	z-index: 999;
}
.bounce-scroll {
	animation-name: scroll-bounce;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes scroll-bounce {
	from, 20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}
.mouse-icon {
    position: relative;
    border: 3px solid rgba(0,0,0,0.9);
    border-radius: 16px;
    height: 46px;
    width: 26px;
    margin: 0 auto;
    display: block;
    z-index: 10;
}
.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: rgba(0,0,0,0.9);
    width: 4px;
    height: 10px;
    top: 1px;
    margin-left: auto;
    margin-right: auto;
}
@-webkit-keyframes drop {
    0%   { top:5px;  opacity: 0;}
    30%  { top:10px; opacity: 0.9;}
    100% { top:20px; opacity: 0;}
}
@keyframes drop {
    0%   { top:5px;  opacity: 0;}
    30%  { top:10px; opacity: 0.9;}
    100% { top:20px; opacity: 0;}
}

/* Main */
.video{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: /* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
}
.item-video {
	display: block;
	margin: 0 auto;
}
.item-video-icon {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 60px 0 60px 103.9px;
	border-color: transparent transparent transparent #000000;
}
#bubbles {
	z-index: 4;
	display:block;
	width:100%;
	height:100%;
	position: absolute !important;
    top: 0;
}
#section1 .item{
	z-index: 5;
}
#intro-back {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(255,216,43,1);
	background: -moz-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,216,43,1)), color-stop(100%, rgba(255,170,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd82b', endColorstr='#ffaa00', GradientType=0 );
}
.no-bg {
	background: none !important;
}
.no-border {
	border: none !important;
}
.site-preview {
	display: block !important;
	position: absolute !important;
	height: 80% !important;
	max-width: 1200px !important;
	max-height: 800px !important;
	bottom: 21px !important;
	left: 50% !important;
	margin-left: -600px !important;
}
.site-preview .window {
	box-shadow: none !important;
}
/* WINDOW */
.window {
	background: #fff;
	width: 100%;
	height: 100%;
	/*border: 1px solid #acacac;*/
	border-radius: 6px;
	box-shadow: 0 60px 120px rgba(0,0,0,0.3);
}
.window-inverse {
	box-shadow: none;
}
.titlebar {
	background: #070707;
	color: #555;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	width: 100%;
	height: 21px;
	font-family: DINProBold;
    text-transform: uppercase;
	/*border-top: 1px solid #f3f1f3;
	border-bottom: 1px solid #b1aeb1;*/
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	cursor: default;
}
.titlebar-inverse {
	background: #f2f2f2;
	color: #555;
}
.titlebar span {
	line-height: 9px;
	vertical-align: 50%;
}
.buttons {
	line-height: 0px;
	position: absolute;
    left: 7px;
    top: 5px;
}
.close {
	background: #ff5c5c;
	border: 2px solid #ff5c5c;
	/*background: transparent;
	border: 2px solid rgba(255,255,255,0.5);*/
	font-size: 9pt;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: inline-block;
}
.minimize {
	background: #ffbd4c;
	border: 2px solid #ffbd4c;
	/*background: transparent;
	border: 2px solid rgba(255,255,255,0.5);*/
	font-size: 9pt;
	line-height: 11px;
	margin-left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: inline-block;
}
.zoom {
	background: #00ca56;
	border: 2px solid #00ca56;
	/*background: transparent;
	border: 2px solid rgba(255,255,255,0.5);*/
	font-size: 9pt;
	line-height: 11px;
	margin-left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: inline-block;
}
.content {
	overflow-y: hidden;
	height: 100%;
	max-height: 900px;
}
.content img {
	max-width:100%;
}
/* window END */

.item-with-img {
	line-height: 0 !important;
}
.item-full-size {
	width: 100% !important;
	height: 100% !important;
}
.item {
	/*
	width: 80%;
	height: 68%;
	max-width: 1250px;
	max-height: 600px;
	min-width: 1000px;
	min-height: 600px;
	*/
	border: 6px solid rgba(255,255,255,1);
	margin: 0 auto 0;
	position: relative;
	background-size: 100% 100%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'> <line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(255,255,255,0.5)' stroke-width='1.5' /></svg>");
	display: flex;
	align-items: center;
	text-align: center;
}
/*.item:hover {
	border-color: rgba(255,255,255,0.8);
}*/
.item-black {
	/*margin-top: -10px !important;
	box-shadow: 10px 10px 0 #000;*/
	border: 6px solid rgba(0,0,0,1);
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'> <line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(0,0,0,0.9)' stroke-width='1.5' /></svg>");
}
.item-thumb{
	border: 5px solid rgba(0,0,0,1);
	display: flex;
    margin: 0px auto;
	margin-bottom: 40px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'><line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(0,0,0,1)' stroke-width='6'/><line x1='100%' y1='100%' x2='0' y2='0' stroke='rgba(0,0,0,1)' stroke-width='6'/></svg>");
}
.item-text {
	color: #FFF;
	text-transform: uppercase;
    letter-spacing: 8px;
	padding: 7%;
	width: 100%;
	max-width: 1000px;
    margin: 0 auto;
}
.item-footer-text {
	padding-top: 24px;
	line-height: 1;
    font-size: 0.4em;
    letter-spacing: 8px;
}
.item-black .item-text {
	color: #000;
}
.text-small {
	font-size: 3em;
}
.text-medium {
	font-size: 3.2em;
}
.text-large {
	font-size: 3.6em;
}
.text-bold {
	font-family: DINProBold;
}
.section {
	display: table;
	width: 100%;
	height: 100vh;
	max-width: 2000px;
}
.overflow-visible {
	overflow: visible !important;
}
.section > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.s1 {
	background: rgba(255,216,43,1);
	background: -moz-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,216,43,1)), color-stop(100%, rgba(255,170,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd82b', endColorstr='#ffaa00', GradientType=0 );
}
.s2 {
	background: rgba(255,216,43,1);
	background: -moz-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,216,43,1)), color-stop(100%, rgba(255,170,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd82b', endColorstr='#ffaa00', GradientType=0 );
}
.s3 {
	/* Ocean */
}
.s5 {
	background: url("../img/items/i1-b.png") no-repeat center, linear-gradient(to bottom, rgba(27,202,250,1) 0%, rgba(0,114,245,1) 100%);
}
.s6 {
	background: rgba(189,57,212,1);
	background: -moz-linear-gradient(top, rgba(189,57,212,1) 0%, rgba(32,25,123,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(189,57,212,1)), color-stop(100%, rgba(32,25,123,1)));
	background: -webkit-linear-gradient(top, rgba(189,57,212,1) 0%, rgba(32,25,123,1) 100%);
	background: -o-linear-gradient(top, rgba(189,57,212,1) 0%, rgba(32,25,123,1) 100%);
	background: -ms-linear-gradient(top, rgba(189,57,212,1) 0%, rgba(32,25,123,1) 100%);
	background: linear-gradient(to bottom, rgba(189,57,212,1) 0%, rgba(32,25,123,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd39d4', endColorstr='#20197b', GradientType=0 );
}
.parallax-img {
	position: relative;
	display: block;
    margin-left: -1400px;
}
.parallax-img img {
	position: absolute;
	opacity: 0;
}
.s-syren-parallax {
	background-color: #07070a;
	overflow: hidden;
}
.item-syren {
	box-shadow: none;
	border: 6px solid rgba(236, 0, 140, 0.9);
	background: none;
/*	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'> <line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(236, 0, 140, 0.2)' stroke-width='1.5' /></svg>");
*/
}
.item-syren .item-text {
	color: rgba(236, 0, 140, 0.9);
	letter-spacing: 16px;
}
.s-reaper-parallax{
	background-color: #070707;
	overflow: hidden;
}
.item-reaper {
	box-shadow: none;
	border: 6px solid rgba(75, 255, 135, 0.9);
	background: none;
/*	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'> <line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(75, 255, 135, 0.2)' stroke-width='1.5' /></svg>");
*/
}
.item-reaper .item-text {
	color: rgba(75, 255, 135, 0.9);
	letter-spacing: 16px;
}
.reaper-parallax-img {
	position: relative;
	top: -900px;
	display: block;
    margin-left: -1400px;
}
.reaper-parallax-img img {
	position: absolute;
	opacity: 0;
}
.s-prestigio {
	background-color: #ea4834;
	background: url(../items/item7/img/back.png) repeat-x repeat-y;
	overflow: hidden;
}
.prestigio-img {
	position: relative;
}
.prestigio-img img {
	opacity: 1;
    position: absolute;
    margin-left: -800px;
}
.item-prestigio {
	box-shadow: none;
	border: 6px solid rgba(0, 0, 0, 0.9);
	background: none;
}
.item-prestigio .item-text {
	color: rgba(0, 0, 0, 0.9);
	letter-spacing: 16px;
}
.s-adslist {
	background-color: #01508b;
	overflow: hidden;
}
.adslist-img {
	position: absolute;
	bottom: -400px;
	right: 0;
	display: block;
}
.adslist-img  img {
	opacity: 1;
}
.item-adslist {
	box-shadow: none;
	border: 6px solid rgba(249, 47, 0, 0.9);
	background: none;
}
.item-adslist .item-text {
	color: rgba(249, 47, 0, 0.9);
	letter-spacing: 16px;
}
.s-bbw {
	background-color: #f3b700;
	overflow: hidden;
}
.bbw-img {
    position: absolute;
    left: 50%;
    margin-left: -760px;
}
.bbw-img  img {
	position: absolute;
	opacity: 1;
}
.item-bbw {
	box-shadow: none;
	border: 6px solid rgba(17, 11, 21, 0.9);
	background: none;
	z-index: 6;
}
.item-bbw .item-text {
	color: rgba(17, 11, 21, 0.9);
	letter-spacing: 16px;
}
.s-maze {
	background-color: #182842;
	overflow: hidden;
}
.maze-img  img {
	position: absolute;
	opacity: 1;
	right: 0;
    top: 0;
}
.item-maze {
	box-shadow: none;
	border: 6px solid rgba(240, 154, 121, 0.95);
	background: none;
	z-index: 6;
}
.item-maze .item-text {
	color: rgba(240, 154, 121, 0.95);
	letter-spacing: 16px;
}
.s-app {
	background-color: #262626;
	overflow: hidden;
}
.app-img  img {
	position: absolute;
	opacity: 1;
	right: 0;
    bottom: 0;
}
.item-app {
	box-shadow: none;
	border: 6px solid rgba(104, 199, 188, 0.95);
	background: none;
	z-index: 6;
}
.item-app .item-text {
	color: rgba(104, 199, 188, 0.95);
	letter-spacing: 16px;
}
.s-contacts {
	background: rgba(255,216,43,1);
	background: -moz-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,216,43,1)), color-stop(100%, rgba(255,170,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,216,43,1) 0%, rgba(255,170,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd82b', endColorstr='#ffaa00', GradientType=0 );
}
/*openledger*/
#link-overlay {
	display: none;
	position: absolute;
	z-index: 99999;
	width: 0;
	height: 100%;
	background-color: #fff;
	opacity: 0;
}
.fullsize-back-ol {
	position: absolute;
	top: 200px;
	background: url(../items/item2/img/ol-back.svg);
	background-size: cover;
	width: 100%;
	height: 500px;
	opacity: 0.08;
}
.s-openledger {
	background-color: #1a1c27;
	overflow: hidden;
}
.openledger-img {
	position: relative;
}
.openledger-img img {
	opacity: 1;
    position: absolute;
    /*top: -80px;*/
    margin-left: -750px;
}
.item-openledger {
	box-shadow: none;
	border: 6px solid rgba(78, 144, 221, 0.9);
	background: none;
/*	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'> <line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(78, 144, 221, 0.2)' stroke-width='1.5' /></svg>");
*/
}
.item-openledger .item-text {
	color: rgba(78, 144, 221, 0.9);
	letter-spacing: 16px;
}
/*NEW*/
#music-bars {
	position: absolute;
	top: 43%;
	left: 20%;
	/*transform: translateX(-50%);*/
}
#music-bars span {
	background-color: #fff;
	opacity: 0.1;
	display: block;
	width: 20px;
	float: left;
	margin-right: 3px;
}
.fullsize-back-logo1 {
	position: absolute;
	margin-top: 60px;
	background: url(../items/item2/img/back.svg);
	background-size: cover;
	width: 100%;
	height: 500px;
	opacity: 0.12;
	background-position: center;
}
.s-logo1 {
	background-color: #dfe1e3;
	/*background: linear-gradient(to bottom, rgba(27,202,250,1) 0%, rgba(0,114,245,1) 100%);*/
	overflow: hidden;
}
.logo1-img {
	position: relative;
}
.logo1-img img {
	opacity: 1;
    position: absolute;
    margin-left: -1180px;
}
.item-logo1 {
	box-shadow: none;
	border: 6px solid rgba(0,0,0,0.9);
	background: none;
	/*background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 240 240'> <line x1='0' y1='100%' x2='100%' y2='0' stroke='rgba(255,255,255,0.2)' stroke-width='1' /></svg>");
	*/
}
.item-logo1 .item-text {
	color: rgba(0,0,0,0.9);
	letter-spacing: 16px;
}
.see-more {
	font-family: DinProBold;
	width: 170px;
	height: 48px;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	line-height: 2.5;
	border: 2px solid rgba(78, 144, 221, 0.6);
	color: rgba(78, 144, 221, 0.9);
	letter-spacing: 10px;
	position: absolute;
	bottom: 140px;
	left: 50%;
	transform: translateX(-50%);
}