/* Variables */

.theme--default {
  --default-text-color: #222d42;
  --accent-color: #007cff;
  --border-color: rgba(84, 91, 103, 0.2);
  --button-outline-border: rgba(84, 91, 103, 0.2);
  --button-outline-text: #475368;
  --section-1-background: linear-gradient(180deg, #f7f9fa, #f5f7f9);
}

/* Layout */

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }

  .container-narrow {
    max-width: 1080px !important;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

/* Ripples */

.with-ripples {
  position: relative;
  width: 50vw;
  height: 50vw;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
}

.ripples {
  position: relative;
  width: 100%;
  height: 100%;
}

.ripple {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  border-style: solid;
  border-color: #007cff;
  animation: ripplesAnim 2s infinite linear;
}

.app-preview-big img {
  width: 40vw;
  max-width: 738px;
}

@keyframes ripplesAnim {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  90% {
    transform: scale(1, 1);
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

/* Defaults */

body {
  color: #222d42;
  color: var(--default-text-color);
}

.btn {
  border-radius: 6px;
}

/* Preloader */

.pre-loader {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  overflow: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #fb2f00;
  border-radius: 100%;
  animation: preloader 1s infinite ease-in-out;
}

@keyframes preloader {
  0% {
    transform: scale(0);
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

/* Controls */

.fixed-header {
  position: fixed;
  visibility: visible;
  opacity: 1;
  width: 100%;
  padding: 18px 0;
  z-index: 99;
  background: #fff;
  border-bottom: 1px solid rgba(84, 91, 103, 0.12);
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.fixed-header.hidden {
  visibility: hidden;
  opacity: 0;
}

.header-buttons-small {
  position: absolute;
  height: 32px;
  top: -2px;
  right: 15px;
}

.header-buttons-small .btn {
  font-size: 14px;
  padding: 8px 10px;
  line-height: 1;
  border-radius: 3px;
}

.header-buttons-small .btn-outline-success {
  border-color: rgba(251, 47, 0, 0.9);
  color: #fb2f00;
}

.header-buttons-small .btn-outline-success:hover {
  background-color: #fb2f00;
  color: #fff;
}

.header-buttons-small .btn-outline-success:active {
  background-color: #fb2f00 !important;
  color: #fff !important;
}

.footer-desc {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: #fff;
  opacity: 0.2;
  max-width: 360px;
  line-height: 1.6;
}

.footer-desc a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-desc a:hover {
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0.8);
}

.footer-desc small {
  display: block;
  font-size: 14px;
  margin-top: 30px;
  line-height: 1.6;
  opacity: 0.7;
}

.footer-hr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100px;
  height: 1px;
  border-color: rgba(255, 255, 255, 0.1);
}

.mobile-menu {
  position: absolute;
  bottom: 0px;
  right: 15px;
  text-align: center;
}

.mobile-menu .btn {
  font-size: 14px;
  padding: 8px 10px;
  line-height: 1;
  border-radius: 3px;
}

.mobile-menu .btn-outline-success {
  border-color: rgba(251, 47, 0, 0.9);
  color: #fb2f00;
}

.mobile-menu .btn-outline-success:hover {
  background-color: #fb2f00;
  color: #fff;
}

.mobile-menu .btn-outline-success:active {
  background-color: #fb2f00 !important;
  color: #fff !important;
}

.mobile-menu-big {
  position: absolute;
  bottom: 4px;
  right: 15px;
  text-align: center;
}

.logo img {
  margin-right: 5px;
}

.logo-text {
  font-size: 16px;
  font-weight: 300;
}

.logo-text sup {
  padding-left: 5px;
  font-size: 11px;
  top: -10px;
  opacity: 0.5;
}

.btn-outline-secondary {
  font-size: 16px;
  font-weight: 100;
  border-color: rgba(84, 91, 103, 0.2);
  border-color: var(--button-outline-border);
  color: #475368;
  color: var(--button-outline-text);
}

/* Sections */

.features-container {
  padding-bottom: 20px;
}

.features {
  flex-grow: 1;
}

.features i {
  display: block;
  color: #007cff;
  color: var(--accent-color);
  margin-bottom: 40px;
}

/* .features i {
  font-size: 64px;
  color: #647386;
  padding: 60px;
  margin-bottom: 40px;
  border-radius: 100px;
  background: linear-gradient(180deg, #f7f9fa, #f5f7f9);
} */

.features-header {
  font-size: 18px;
}

.features-content {
  font-size: 16px;
  font-weight: 300;
  padding: 12px 0 0 0;
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.6;
}

.main-section {
  width: 100%;
  position: relative;
}

.main-section-footer {
  height: 90px;
  position: relative;
}

.section {
  width: 100%;
  position: relative;
  padding: 120px 0 0 0;
}

.section-content-padding {
  padding: 10px 0;
}

.section-header {
  text-align: center;
  padding-bottom: 120px;
}

.section-header h1 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.section-header h3 {
  padding-top: 5px;
  font-weight: normal;
  font-size: 24px;
  opacity: 0.6;
}

.section-header .section-desc {
  max-width: 560px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
  opacity: 0.9;
}

.section-download-small {
  font-size: 12px;
  font-weight: 300;
  padding-top: 8px;
}

.section-1 {
  background: linear-gradient(180deg, #f7f9fa, #f5f7f9);
  background: var(--section-1-background);
}

.section-1 header {
  padding: 40px 0;
}

/* .section-1::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 1;
} */

.main-text {
  line-height: 1;
  font-size: 44px;
  font-weight: bold;
  padding: 6% 8% 0 8%;
}

.main-text-accent {
  color: #007cff;
  color: var(--accent-color);
  line-height: 1;
  padding-top: 16px;
}

.main-text-hr {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  width: 90px;
  height: 1px;
  color: rgba(84, 91, 103, 0.2);
  color: var(--border-color);
}

.desc-text {
  font-size: 22px;
  font-weight: 300;
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.laptop {
  width: 695px;
  height: 385px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  background: url('../img/laptop.svg') no-repeat center;
  background-size: contain;
}

.laptop-front {
  padding: 28px 99px 54px 97px;
  width: 100%;
  height: 100%;
}

.laptop-slide {
  width: 100%;
  height: 100%;
}

.laptop-tab {
  border: none !important;
  color: #2f3a4e;
  color: var(--default-text-color);
  padding: 0;
}

.laptop-tab.active {
  color: #007cff !important;
  color: var(--accent-color) !important;
  background-color: transparent !important;
}

.nav-tabs {
  border: none;
}

.laptop-window-content {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f6f8fa;
}

.layout-window-outer {
  /* padding: 4px; */
}

.layout-window .title-bar {
  height: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(143, 156, 174, 0.4);
  background: #fff;
}

.layout-window .w-close,
.layout-window .w-minimize,
.layout-window .w-zoom {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  border: 1px solid #8f9cae;
  position: absolute;
  top: 5px;
}

.layout-window .w-close {
  background-color: #d1d4d8;
  left: 5px;
}

.layout-window .w-minimize {
  background-color: #d1d4d8;
  left: 14px;
}

.layout-window .w-zoom {
  background-color: #d1d4d8;
  left: 23px;
}

.layout-window {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #8492a5;
  border-radius: 4px;
  background: #f5f7f9;
}

.layout-window-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0 100px 0;
}

.layout-window-icon {
  width: 136px;
  height: 90px;
  display: flex;
}

.nav-link.active .layout-window-icon .layout-window {
  border-color: #007cff;
  border-color: var(--accent-color);
  background: rgba(0, 124, 255, 0.06);
}

.layout-window-text {
  padding-top: 16px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
}

.section-3 {
  background: #007cff;
  background: var(--accent-color);
}

.section-3-tabs {
  padding-bottom: 70px;
}

.tab-overview {
  margin-bottom: 10px;
}

.tab-overview a {
  color: #fff;
  border-radius: 8px;
}

.tab-overview ul li a {
  display: block;
  padding: 15px 17px;
  transition: all 0.3s;
}

.tab-overview a:hover {
  text-decoration: none;
}

.tab-overview a.active {
  color: #2f3a4e;
  color: var(--default-text-color);
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.tab-overview ul li {
  width: 100%;
  margin-bottom: 10px;
  float: left;
}

.tab-overview ul li a h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.tab-overview ul li a p {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

.tab-overview ul li a i {
  margin-right: 2px;
}

.section-4 {
  /* border-top: 1px solid rgba(84, 91, 103, 0.2);
  border-top: 1px solid var(--border-color); */
}

.app-preview-hint {
  position: absolute;
  z-index: 9;
  font-size: 16px;
  background-color: #fffcd2;
  border-radius: 6px;
  padding: 4px 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.app-preview-hint span {
  display: none;
  position: absolute;
  z-index: -1;
  background: #007cff;
  opacity: 0.7;
  width: 30px;
  height: 30px;
  border-radius: 40px;
}

.app-preview {
  position: relative;
  z-index: 3;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.app-preview::after {
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.07);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
}

.app-preview img {
  width: 100%;
  border-radius: 10px;
}

.app-preview-under {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 40px;
  width: 100%;
  border-radius: 10px;
}

.app-preview-under::after {
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
}

.app-preview-under::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.6;
  border-radius: 10px;
}

.app-preview-under-2 {
  position: absolute;
  z-index: -2;
  top: 40px;
  left: 80px;
  width: 100%;
  border-radius: 10px;
}

.app-preview-under-2::after {
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.02);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
}

.app-preview-under-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.app-preview-under img,
.app-preview-under-2 img {
  width: 100%;
  border-radius: 10px;
}

.tabs-block-nav {
  margin: 0 auto;
  background: #fff;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.tabs-block {
  margin-top: 60px;
}

.nav-pills .nav-link {
  color: #2f3a4e;
  color: var(--default-text-color);
  font-size: 16px;
  line-height: 1;
  padding: 10px 30px;
  border-radius: 40px;
}

.nav-pills .nav-link.active {
  background-color: #007cff;
  background-color: var(--accent-color);
}

.tabs-block-content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.tabs-block-content h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.tabs-block-content .app-desc {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 50px;
  padding-right: 30px;
}

.app-preview-text {
  position: relative;
  z-index: 3;
  padding: 10px 0;
}

.app-preview-text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-preview-text ul li {
  margin-bottom: 60px;
}

.app-preview-text ul li:last-child {
  margin-bottom: 0;
}

.app-preview-text ul li h4 {
  font-size: 22px;
  font-weight: bold;
}

.app-preview-text ul li .app-desc {
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
}

.section-5 {
  background: linear-gradient(180deg, #f7f9fa, #f5f7f9);
  background: var(--section-1-background);
}

.d-options {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 860px;
  padding-bottom: 120px;
  margin-top: -10px;
}

.d-options a {
  flex-basis: 0;
  flex-grow: 1;
  color: #222d42;
  color: var(--default-text-color);
  margin: 0 20px;
  border: 1px solid rgba(84, 91, 103, 0.12);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.d-options a:hover {
  color: #007bff;
  border-color: #007bff;
  text-decoration: none;
}

.d-options__col {
  height: 340px;
}

.d-options__col-header {
  font-weight: bold;
  text-align: center;
  padding: 28px 0 20px 0;
  font-size: 24px;
}

.d-options__col-content {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0 16px;
  color: #222d42;
  color: var(--default-text-color);
}

.d-options__col-content-bit {
  padding-top: 10px;
}

.d-options__col-content-bit-address {
  margin: 0 auto;
  padding-top: 6px;
  width: 140px;
  font-size: 14px;
  word-wrap: break-word;
}

.d-options__col-content-pat {
  padding-top: 10px;
  width: 130px;
}

.d-options__col-content-pat-address {
  margin: 0 auto;
  padding-top: 10px;
  width: 160px;
  font-size: 14px;
  word-wrap: break-word;
}

/* Mobile layout fix */

@media (max-width: 990px) {
  /* .ripples {
    max-width: 60vw;
    height: 60vw;
  } */

  .d-options {
    flex-direction: column;
  }
  .d-options a {
    margin: 20px;
  }
}

@media (max-width: 767px) {

  /* .app-preview-big img {
    width: 50vw;
  } */

  .d-options {
    flex-direction: column;
    padding-bottom: 0;
  }

  .d-options a {
    margin: 20px;
  }

  .main-text {
    font-size: 42px;
  }

  .main-text-accent {
    padding-top: 12px;
  }

  .desc-text {
    font-size: 16px;
    padding: 0 15% 40px 15%;
  }

  .features-container {
    padding-bottom: 0;
  }

  .features {
    padding: 20px;
  }

  .features i {
    margin-bottom: 16px;
  }

  .features-content {
    font-size: 14px;
  }

  .laptop {
    width: 400px;
    height: 221px;
  }

  .laptop-front {
    padding: 15px 56px 30px 56px;
  }

  .layout-window-icons {
    padding: 30px 0 0 0;
  }

  .layout-window-icon {
    width: 80px;
    height: 53px;
  }

  .layout-window-text {
    font-size: 14px;
  }

  .section {
    padding: 60px 0;
  }

  .section-header {
    padding-bottom: 30px;
  }

  .section-header .section-desc {
    font-size: 15px;
  }

  .section-header h1 {
    font-size: 26px;
    padding-bottom: 20px;
  }

  .section-header h3 {
    font-size: 18px;
  }

  .tab-overview ul li {
    margin-bottom: 3px;
  }

  .tab-overview ul li a h5 {
    font-size: 14px;
  }

  .tab-overview ul li a p {
    font-size: 12px;
  }

  .app-preview {
    margin: 0 auto;
  }

  .app-preview-under {
    display: none;
  }

  .app-preview-under-2 {
    display: none;
  }

  .app-preview-text {
    margin-top: 40px;
  }

  .tabs-block-content {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .fixed-header {
    padding: 16px 0 14px 0;
  }

  .section-header {
    padding-bottom: 30px;
  }

  .section-1 header {
    padding: 20px 0;
  }

  .main-text {
    font-size: 32px;
    padding: 8% 8% 0 8%;
  }

  .main-text-hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .desc-text {
    font-size: 14px;
    padding: 0 10% 50px 10%;
  }

  .laptop {
    width: 350px;
    height: 170px;
  }

  .laptop-front {
    padding: 12px 64px 23px 64px;
  }

  .layout-window-icon {
    width: 80px;
    height: 53px;
  }

  .layout-window-icons {
    padding: 20px 0 20px 0;
  }

  .tab-overview ul li a {
    padding: 14px;
  }

  .app-preview-big {
    max-width: 250px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .app-preview {
    max-width: 250px;
    margin-bottom: 30px;
  }

  .app-preview-text {
    margin-top: 10px;
    padding: 0 10px;
  }

  .app-preview-text ul li {
    margin-bottom: 26px;
  }

  .app-preview-text ul li h4 {
    font-size: 18px;
  }

  .app-preview-text ul li .app-desc {
    font-size: 14px;
  }

  .nav-pills .nav-link {
    font-size: 14px;
    padding: 10px 32px;
  }
}

@media (max-width: 360px) {
  .laptop {
    width: 300px;
    height: 120px;
  }

  .laptop-front {
    padding: 9px 72px 17px 73px;
  }
}

/* Placeholders */

.ph-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  overflow: hidden;
}

.ph-item,
.ph-item *,
.ph-item ::after,
.ph-item ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ph-item > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;

  /* padding-right: 15px;
  padding-left: 15px; */
}

.ph-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 7px;
}

.ph-row div {
  height: 4px;
  margin-bottom: 6px;
  background-color: rgba(143, 156, 174, 0.4);
}

.ph-row .big,
.ph-row.big div {
  height: 20px;
  margin-bottom: 15px;
}

.ph-row .empty {
  background-color: rgba(255, 255, 255, 0);
}

.ph-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
}

.ph-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
}

.ph-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.ph-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
}

.ph-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
}

.ph-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: rgba(143, 156, 174, 0.4);
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.ph-avatar::before {
  content: " ";
  display: block;
  padding-top: 100%;
}

.ph-picture {
  width: 100%;
  height: 120px;
  background-color: rgba(143, 156, 174, 0.4);
  margin-bottom: 15px;
}

@-webkit-keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }
}

/* BMC */

.bmc-logo {
  margin: 5px 0 10px 0;
}
